@import '../../styles/variables/variable.scss';
@import '../../styles/mixins/mixin.scss';
@import '../../styles/templates/template.scss';

.news {
    &__section {
        display: flex;
        flex-direction: column;
        &-card {
            padding: 10px;
            margin: 0 -10px;
        }
    }
    &__list {
        margin-top: $fsS;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        grid-gap: 20px;
        @media screen and (max-width: $mob) {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
        margin-bottom: 64px;
    }
    // cards
    &__card {
        @extend %border;
        position: relative;
        text-align: center;
    }
    &__title-card {
        @include fsfw($fsB, 500);
        padding: $fsUs 0 $fsUs 0;
    }
    &__desc-card {
        @include fsfw($fsM, 400);
        padding-bottom: 44px;
    }
    &__date-card {
        position: absolute;
        bottom: $fsUs;
        left: $fsS;
        @include fsfw($fsUs, 500);
        color: #545454;
    }
    &__img-card {
        margin: 0 10px;
    }
    // inputs
    &__set-section, &__search-section {
        @extend %flex;
        flex-direction: column;
    }
    &__search-title, &__set-title {
        @include fsfw($fsM, 500);
        margin-bottom: 4px;
    }
    &__search-title {
        margin-top: $fsUs;
    }
    &__search-input, &__set-input {
        @extend %border;
        padding: 4px $fsM 4px $fsM;
        min-width: 160px;
        flex: 1;
    }
    &__set-elems, &__search-elems {
        width: 50%;
        min-width: 280px;
        @extend %flex;
        justify-content: space-around;
    }
    // btn
    &__search-btn, &__set-btn {
        @extend %border;
        margin-left: $fsUs;
        padding: 4px $fsM 4px $fsM;
    }
}