@import './reset.scss';
@import './fonts.scss';
@import './mixins/mixin.scss';
@import './templates/template.scss';
@import './variables/variable.scss';

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background: #7DD3F5;
}

._container {
    width: 90%;
    margin: 0 auto;
}