@import '../../styles/mixins/mixin.scss';
@import '../../styles/templates/template.scss';
@import '../../styles/variables/variable.scss';

.header {
    height: 64px;
    background: $clr;
    box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.16);
    @media screen and (max-width: $mob) {
        height: 128px;
    }
    &__wrapper, &__nav, &__list, &__section {
        height: 100%;
    }
    &__list {
        @extend %flex;
        justify-content: space-between;
        @media screen and (max-width: $mob) {
            justify-content: center;
            align-items: center;
        }
    }
    &__logo-list {
        @extend %flex;
        @media screen and (max-width: $mob) {
            margin-top: $fsUs;
            min-width: 100%;
        }
    }
    &__section {
        @extend %flex;
        justify-content: space-around;
        margin: 0 -$mg;
    }
    &__item {
        &-list {
            cursor: pointer;
            margin: 0 $mg;
            &:focus,&:hover,&:active {
                .header__item-text::after {
                    width: 100%
                }
            }
        }
        &-text {
            @include fsfw($fsM, 400);
            position: relative;
            &::after {
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                height: 2px;
                background-color: black;
                content: "";
                transition: width 0.3s ease-out;
            }
        }
    }
}